html{
  background:url(../image/bgpic.png) no-repeat;
  background-size:100% 100%;
  height: 100%;
  width: 100%;
  position: relative;
}
body {
  transform-origin:0 0 0;
  display: flex;
  overflow:hidden;
  position: absolute;
  top: 50%;
  left: 50%;
}
#app{
  width: 100%
}
::-webkit-scrollbar {
  width: 10px
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  border-radius: 24px
}

::-webkit-scrollbar-thumb {
  border-radius: 24px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.5)
}

::-webkit-scrollbar-thumb,::-webkit-scrollbar-thumb:window-inactive {
  background: hsla(0,0%,100%,.8)
}
*{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.topbar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:#fff;
  height: 15rem;
  background: url(../image/topbar.png) no-repeat;
  background-position: bottom center;
  background-size: 90%;
}
.topbar_font{
  font-size: 4rem;
  position: absolute;
  font-weight: 550;
  top: 0rem;
  background: linear-gradient(360deg,rgba(221, 233, 255,1) 0%,rgba(255,255,255,1) 100%);
  background-clip: text;
  letter-spacing:0.2rem;
  -webkit-text-fill-color: transparent;
}
.bot_body{
  height: calc(100% - 15rem);
  display: flex
}
 @font-face {
   font-family: 'anticon';
   src: url("../assets/ds-digital.woff.ttf") format("truetype");
 }
.font_num{
  font-family: 'anticon';
  color: rgba(42, 151, 225, 1);
  padding: 0.5rem
}
.left{
  width: 28%;
  margin-left: 2%;
}
.mid{
  width: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
.right{
  width: 28%
}
/*列表*/
.listing {
  width: 100%;
  height: 100%;
  position:absolute;
  top: 7rem
}

.listing .listing-section {
  height: 30%;
  width: 100%;
  padding: 1.5% 1% 1%;
}

.listing .listing-section:first-child {
  height: 30%;
}

.listing .listing-section-kernel {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-size: 100% 100%;
}

.listing .section-header {
  display: flex;
  padding-bottom:2rem
}
.listing .section-header .section-title {
  font-size: 2.5rem;
  color: #fff;
  padding-left: 3.5rem;
  background: rgba(4, 75, 149, 1);
  height: 5rem;
  line-height: 5rem;
  padding-right: 3.5rem;
}

.listing .section-header .section-tip {
  margin-left:-1px;
  border-top:5rem  solid rgba(4, 75, 149, 1);
  border-right:3.5rem  solid  rgba(0,0,0,0);
}

.listing .section-header .section-tip .tip-text {
  color: #cbdcfb;
  font-size: 1.6rem;
}

.listing .section-header .section-tip .tip-num {
  color: #f4fe00;
  font-family: 'DS-DIGII';
  font-size: 3rem;
  padding-left: 0.8rem;
}

.listing .section-chart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(2,23,65,0.34);
  box-shadow: 0px 0px 7px 0px rgba(98,134,246,0.35);
  border-radius: 4px
}
.listing .section-chart-y{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 12%
}
.listing .ivu-tabs{
  color: #fff;
}
.listing .ivu-tabs-nav .ivu-tabs-tab{
  padding: 8px 0px
}
.listing .ivu-tabs-bar{
  border-bottom:0px
}
.section-data{
  position: absolute;
  top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  cursor:pointer;
  background:url(../image/left.png);
  background-size: 100% 100%;
}
.statistics{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;
  text-align: center
}
.updown{
  display: flex;
  flex-direction: column;
  width: 9rem;
  height: 6rem;
}
.sta_img{
  width: 6rem;
  height: 6rem;
}
.statis_jianche{
  color: #fff;
  font-size: 2rem
}
.statis_num{
  font-size: 3rem;
  font-weight: 700
}
/* table */
.el-table{
  color: #fff !important;
  font-size: 1.8rem !important
}
.el-table::before{
  height: 0px !important;
}
.el-table, .el-table__expanded-cell{
  background-color: rgba(0, 0, 0,0) !important
}
.el-table thead{
  color: #fff !important;
  background-color: rgba(19, 70, 151, 1) !important
}
.el-table th, .el-table tr{
  background-color: rgba(0, 0, 0,0) !important
}
.el-table--enable-row-hover .el-table__body tr:hover>td{
  background-color: rgba(0, 0, 0,0) !important
}
.el-table td{
  height: 5rem !important;
}
.el-table .cell{
  line-height: 3rem !important
}
.table_title{
  font-size: 2.5rem;
  text-align: center;
  height: 6rem;
  line-height: 6rem;
  width: 100%;
  color: #fff;
  background-color: rgb(10,40,88);
  border-top: 0.01rem solid rgba(142, 142, 142, 1);
  border-left: 0.01rem solid rgba(142, 142, 142, 1);
  border-right: 0.01rem solid rgba(142, 142, 142, 1);
}